#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container, .question-form-container {
  min-height: 540px;
  min-width: 500px;
  max-width: 800px;
  border-radius: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-bg);
}
.form-container img{
  width: 190px;
}
.form-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 1.5rem;
}
.form-card input, select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  background-color: var(--card-bg);
  color: var(--text-primary);
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}
.question-form-container{
  min-height: 400px;
}